<div class="jumbotron details about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Kenneth Ishikawa</h1>
        <p>My skills in designing have been acknowledged by my previous company, Pacific Software Publishing, INC., where I was nominated to develop and design corporate websites for companies such as Nippon Express USA, Hilton Hawaiian Village, and Republic Parking Northwest.  At SimplyFun LLC, I was responsible for designing, developing, and maintaining the corporate website. After being promoted to a Senior Web Designer, I spearheaded the exciting and challenging project of incorporating Bootstrap and Angular JS to the corporate website to increase cross-platform user friendliness.  </p>
      </div>
    </div>
    <div class="row">
      <p class="col-xs-6 col-md-3 experience" align="center">
        <img src="../images/about/html5.gif" alt="Experienced in HTML 5" class="img-responsive"><br /><span>+<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear()-2011);</script></span>
      </p>
      <p class="col-xs-6 col-md-3 experience" align="center">
        <img src="../images/about/css3.gif" alt="Experienced in CSS 3" class="img-responsive"><br /><span>+<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear()-2011);</script></span>
      </p>
      <p class="col-xs-6 col-md-3 experience" align="center">
        <img src="../images/about/javascript.gif" alt="Experienced in JavaScript" class="img-responsive"><br /><span>+<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear()-2012);</script></span>
      </p>
      <p class="col-xs-6 col-md-3 experience" align="center">
        <img src="../images/about/adobe.gif" alt="Experienced in Adobe Creative Suite" class="img-responsive"><br /><span>+<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear()-2009);</script></span>
      </p>
    </div>
  </div>
</div>
<div class="textured-bg about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Past Experiences</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section id="cd-timeline" class="cd-container">
          <div class="cd-timeline-block">
            <div class="cd-timeline-img">
              <a href="../works/att"><img src="../images/companies/att.jpg" width="60" alt="AT&T" class="img-responsive"></a>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>AT&T</h2>
              <p><strong>Title: UX Designer</strong><br />Visually compose the user experience by creating static and interactive graphic elements, HTML prototypes, tutorials and Flash deliverables.</p>
              <a href="../works/att" class="cd-read-more">View Works</a>
              <span class="cd-date">02/2015 ~ 03/2015</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img">
              <a href="../works/simplyfun"><img src="../images/companies/simplyfun.jpg" width="60" alt="SimplyFun" class="img-responsive"></a>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>SimplyFun LLC</h2>
              <p><strong>Title: Senior Web Designer</strong><br />Projects include a full stack mobile friendly redesign and the redevelopment of the company’s corporate website, with a focus on UI design, content strategy, and front-end development.</p>
              <a href="../works/simplyfun" class="cd-read-more">View Works</a>
              <span class="cd-date">09/2013 ~ 02/2015</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img">
              <a href="../works/microsoft"><img src="../images/companies/microsoft.jpg" width="60" alt="Microsoft" class="img-responsive"></a>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Microsoft</h2>
              <p><strong>Title: Web Developer II</strong><br />Implemented technically sophisticated online web content that involved client side and server side scripting.</p>
              <a href="../works/microsoft" class="cd-read-more">View Works</a>
              <span class="cd-date">07/2013 ~ 09/2013</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img">
              <a href="../works/pspinc"><img src="../images/companies/pspinc.jpg" width="60" alt="PSPINC" class="img-responsive"></a>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Pacific Software Publishing Inc.</h2>
              <p><strong>Title: Bilingual Web Designer</strong><br />Designing Web sites and ensuring that they are easy to access and visually effective Determining all necessary coding requirements for the site creation including forms, e-commerce capability and specialized scripts.</p>
              <a href="../works/pspinc " class="cd-read-more">View Works</a>
              <span class="cd-date">06/2011 ~ 07/2013</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->
        </section>
      </div>
    </div>
  </div>
</div>
<div class="textured-bg graph">
  <div class="container" align="center">
    <div class="row">
      <div class="col-md-12">
        <a href="#contactme" class="trigger-contact solid-button button-only">Get in touch with Ken</a>
      </div>
    </div>
  </div>
</div>