
    <!-- Lightbox -->
    <div class="lightbox">
      <div class="notification"><img src="/images/icons/press-drag.png" alt="Press and drag" class="img-responsive"></div>
      <div class="options">
        <div class="numberOfSlides">
          <span class="slide-title"></span> 
          <span class="current">1</span> / <span class="total">1</span>
        </div>
        <a href="#close" class="close-lightbox"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div class="slideleft">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </div>
      <div class="slideright">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>
      <div class="preview-container resize-container" id="rotate-area"><img src="#" id="rotatingElement" class="draggable"></div>
    </div>
    <!-- End Lightbox -->
    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="/images/logo.png" alt="innovationalstudios" /></a>
        </div>
        <!-- Push Menu Left -->
        <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./works">Works</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./process">Process</a></li>
            <li><a href="#contactme" class="trigger-contact">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron cover-home">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-5 col-md-7">
            <h1>Professional experience in HTML5, CSS3, and JavaScript.</h1>
            <h2>Experience in the production of UI deliverables</h2>
          </div>
        </div>
        <div class="row info">
          <div class="col-md-4">
            <h3>Who I Am.</h3>
          </div>
          <div class="col-md-offset-1 col-md-7">
            <hr />
            <p>Kenneth Ishikawa is a bilingual web designer/developer with experience in both web and print. His design work has driven results for companies such as AT&T, Microsoft, SimplyFun LLC, Pacific Software Publishing INC., and Virtual Network Support Japan. He has worked in both corporate environments and small business settings as well as managed freelance projects. He is highly skilled in HTML, CSS, Photoshop, Illustrator, Fireworks, Flash, Premiere, After Effects, Dreamweaver, and has an advanced knowledge of JavaScript. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" align="center">
            <div class="browser-top"><span class="hidden-sm hidden-xs">http://simplyfun.com/<span></div>
            <a href="/images/works/simplyfun/screenshots/corporate-redesign_4.jpg" class="sample-image trigger-lightbox" data-title="SimplyFun Corporate Redesign"><img src="/images/works/simplyfun/screenshots/corporate-redesign_sm.png" class="img-responsive"><span class="glyphicon glyphicon-fullscreen"></span></a>
            <div><a href="/images/works/simplyfun/screenshots/corporate-redesign_4.jpg" class="view-screenshots trigger-lightbox" data-title="SimplyFun Corporate Redesign">View Screenshots</a></div>
          </div>
          <div class="col-sm-6 hidden-xs" align="center">
            <div class="browser-top"><a class="hidden-sm hidden-xs" href="http://hiltonhawaiianvillage.jp/" target="_blank">http://hiltonhawaiianvillage.jp/</a></div>
            <a href="/images/works/pspinc/screenshots/hilton-hawaiian_7.jpg" class="sample-image trigger-lightbox no-mobile-screenshot" data-title="Hilton Hawaiian Village"><img src="/images/works/pspinc/screenshots/hilton-hawaiian_sm.png" class="img-responsive"><span class="glyphicon glyphicon-fullscreen"></span></a>
            <p class="screenshots"><a href="/images/works/pspinc/screenshots/hilton-hawaiian_7.jpg" class="view-screenshots trigger-lightbox" data-title="Hilton Hawaiian Village">View Screenshots</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="textured-bg graph">
      <div class="container" align="center">
        <div class="row">
          <div class="col-md-12">
            <a href="works" class="solid-button blue-btn button-only">Check out my works</a>
          </div>
        </div>
      </div>
    </div>